.Basic-Questions {
    text-align: center;
    background-color: darkblue;
    border-radius: 30px;
    padding: 15px;
    top: 67%;
}
.Basic-Title{
    color:white
}
.Ready{
    color: white;
}
.Detailed-Question{
    text-align: center;
}

.header{
    text-transform: bold;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 10vh;
    top: 40%;
}
